body {
	background: url("paper.jpg") center center no-repeat fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:20px;
	font-family:sans-serif;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto 0;
}
.navbar li{
	display: inline-block;
	padding-bottom: 80px;
}
a:hover {
    background-color: red;
}
